.v-navigation-drawer {
    width: 250px;
}

.v-list-item-avatar img {
    width: 80%;
}

.v-list-item-group .v-list-item {
    margin: 15px 0;
}

.v-list-item-group .v-list-item a {
    text-decoration: none;
    color: #333;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    transition: background-color 0.3s;
}

.v-list-item-group .v-list-item a:hover,
.v-list-item-group .v-list-item a.active {
    background-color: #007bff;
    color: white;
}

.router-link {
    display: flex;
    text-decoration: none;
    color: inherit;
    align-items: center;
    width: 100%;
    transition: background-color 0.3s, color 0.3s;
}

.item {
    margin-left: 20px;
}

.v-list-item__content {
    display: flex;
    flex-direction: row;
}

.menu-item {
    display: flex;
    align-items: center;
    flex-direction: row;
    width: 100%;
    padding: 10px 20px;
    border-radius: 5px;
    margin-left: 20px;
}

.logo {
    max-width: 150px;
    max-height: 150px;
}

.sidebar-logo {
    align-items: center;
    justify-content: center;
    display: flex;
    margin-top: 20px;
    margin-bottom: 20px;
}

.router-link:hover .menu-item,
.active-menu-item {
    background-color: black;
    color: white;
}

.v-navigation-drawer {
    width: 250px;
}

.v-list-item-avatar img {
    width: 80%;
}

.v-list-item-group .v-list-item {
    margin: 15px 0;
}

.v-list-item v-theme--light v-list-item--density-default v-list-item--one-line rounded-0 v-list-item--variant-text menu-item {
    margin: 30px;
}

.sidebar.collapsed {
    display: none;
    width: 0;
    opacity: 0;
    padding: 0;
    transform: translateX(-256px);
}

.sidebar {
    width: 15%;
    height: 100%;
    background-color: white;
    box-sizing: border-box;
  
    transition: width 0.3s;
  }

  @media (max-width: 768px) {
    .sidebar {
      position: absolute;
      z-index: 906;
      height: 100%;
      top: 0;
      bottom: 0;
      width: 256px;
    }
  
    .sidebar.collapsed {
      transform: translateX(-256px);
    }
  }